//  palette of color used on the form

$dark-gray: #333;
$sad-gray: #f5f5f5;

$funky-purple: #a091e5;

$friendly-turquoise: #24bccc;
$strong-turquoise: #18919e;

$error-red: #6c261e;

$true-white: #fff;
