@import '../../styles/_palette.scss';

.JobForm {
  padding: 1rem;
  background-color: $true-white;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  width: 666px;

  &--header {
    display: flex;
  }

  &--title {
    display: inline;
    margin-left: 1rem;
  }

  &--icon {
    margin-top: 0.25rem;
  }

  &--description {
    display: block;
    margin: 0.25rem 0 1.5rem 1rem;
    color: $medium-gray;
    font-size: 0.875rem;
  }

  &--section {
    margin-bottom: 1.5rem;
  }

  &--sectionText {
    display: block;
    font-weight: 600;
  }

  &--label {
    margin-right: 0.625rem;
  }

  &--optionGroup {
    margin-top: 0.25rem;
  }

  &--hours {
    display: flex;
  }
}

@media (max-width: 666px) {
  .JobForm {
    width: 100%;
  }
}
